.dark #banner {
  background-image: url("../img/product-header-bg-dark.jpg");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #f5f9fe;
}

header p.logo {
  color: #2a73dd;
}

header a {
  color: #1d365e;
}

#banner {
  background-image: url("../img/product-header-bg.jpg");
  background-size: cover;
  background-position: center;
}

#banner .banner__title h2 {
  color: #2a73dd;
}

#banner .banner__title h3 {
  color: #1d365e;
}

#banner .banner__title p {
  color: #656774;
}

#banner .banner__title #btn-title-group button {
  padding: 10px 45px;
  border-radius: 8px;
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#banner .banner__title #btn-title-group .btn-infor {
  -webkit-box-shadow: 0 3px 6px #c9d8f4;
          box-shadow: 0 3px 6px #c9d8f4;
  color: #2a73dd;
  border: 2px solid #2a73dd;
}

#banner .banner__title #btn-title-group .btn-infor:hover {
  background: #2a73dd;
  color: white;
}

#banner .banner__title #btn-title-group .btn-shop {
  background-image: linear-gradient(120deg, #c9d8f4, #2a73dd);
  color: white;
}

#products {
  background: #f5f9fe;
}

#products h2.title {
  color: #1d365e;
}

#products #products-list .item {
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  padding: 40px;
}

#products #products-list .item .content img {
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}

#products #products-list .item .content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

#products #products-list .item .content .title .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products #products-list .item .content .title .right span {
  color: #1d365e;
  font-size: 24px;
  font-weight: bold;
}

#products #products-list .item .content .title .right button {
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  font-size: 14px;
  padding: 10px 20px;
  color: #2a73dd;
}

#products #products-list .item .content .title .left h3 {
  color: #1d365e;
  font-size: 24px;
  font-weight: bold;
}

#products #products-list .item .content .title .left svg {
  color: #f9d412;
}

#footer {
  background-color: #f5f9fe;
}
/*# sourceMappingURL=index.css.map */