@import "../sass/base/variable";

@import "../sass/mixin/mixin";

@import "../sass/theme/dark-theme";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background: $color-white-1;
  p.logo {
    color: $color-blue-2;
  }

  a {
    color: $color-blue-1;
  }
}

#banner {
  background-image: url("../img/product-header-bg.jpg");

  background-size: cover;
  background-position: center;

  .banner__title {
    h2 {
      color: $color-blue-2;
    }

    h3 {
      color: $color-blue-1;
    }

    p {
      color: $color-dark-1;
    }

    #btn-title-group {
      button {
        @include btn-theme;
        display: inline-flex;
      }

      .btn-infor {
        box-shadow: 0 3px 6px $color-blue-3;
        color: $color-blue-2;
        border: 2px solid $color-blue-2;

        &:hover {
          background: $color-blue-2;
          color: white;
        }
      }

      .btn-shop {
        background-image: linear-gradient(120deg, $color-blue-3, $color-blue-2);
        color: white;
      }
    }
  }
}

#products {
  background: $color-white-1;
  h2.title {
    color: $color-blue-1;
  }

  #products-list {
    .item {
      @include shadow-theme();
      padding: 40px;
      .content {
        img {
          @include shadow-theme();
        }

        .title {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          .right {
            display: flex;
            flex-direction: column;

            justify-content: space-between;

            span {
              color: $color-blue-1;
              font-size: 24px;

              font-weight: bold;
            }
            button {
              @include shadow-theme();

              font-size: 14px;
              padding: 10px 20px;
              color: $color-blue-2;
            }
          }
          .left {
            h3 {
              color: $color-blue-1;
              font-size: 24px;
              font-weight: bold;
            }
            svg {
              color: $color-yellow-1;
            }
          }
        }
      }
    }
  }
}

#footer {
  background-color: $color-white-1;
}
